<!DOCTYPE html>
<html>
<head>
	<title>Blog</title>

	<link href="style.css" rel="stylesheet">
    <link rel="stylesheet" href="/home/riddhi/Documents/test/bower_components/angular-material/angular-material.min.css"/>
</head>
<body ng-app="myblog" ng-controller="mainCtrl">

		<div class="menudiv" layout="row" layout-align="space-around center">
					<span><a href="#Home"> Home </a></span>
           			 
           			<span><a href="#Nature"> Nature </a></span>

           			<span><a href="#Food"> Food </a></span>

           			<span><a href="#AddNew"> New </a></span>

		</div>


		<div class="headimg">

			<img class="headimg" src="home.jpg" alt="Nature at its best"></img>
		</div>



		<div class="contentdiv">


			<md-card class="contentcard">
				<md-card-content>
					
					<div ng-view>

					</div>



					<!-- <md-card-title>
   						 <md-card-title-text  layout-align="center center">
    						<span class="md-headline">BLOGS</span>      						
    					 </md-card-title-text>
  					</md-card-title>

  					<div class="bloglist" ng-repeat="item in naturearray">

  							<img class="listimg" ng-src="{{item.imgpath}}"></img>
  							<span class="titlespan">{{item.title}}</span>
  							<span class="catspan"><b>Category: </b>{{item.category}}</span>
  							<div class="txtdiv">{{item.blogtext}}</div>


  					</div>

  					<div class="bloglist" ng-repeat="itemf in foodarray">

  							<img class="listimg" ng-src="{{itemf.imgpath}}"></img>
  							<span class="titlespan">{{itemf.title}}</span>
  							<span class="catspan"><b>Category: </b>{{itemf.category}}</span>
  							<div class="txtdiv">{{itemf.blogtext}}</div>


  					</div>
 -->
				</md-card-content>
			</md-card>
		</div>


		<script src="/home/riddhi/Documents/test/bower_components/angular/angular.min.js"></script>
        <script src="/home/riddhi/Documents/test/bower_components/angular-animate/angular-animate.min.js"></script>
        <script src="/home/riddhi/Documents/test/bower_components/angular-aria/angular-aria.min.js"></script>
        <script src="/home/riddhi/Documents/test/bower_components/angular-messages/angular-messages.min.js"></script>
        <script src="/home/riddhi/Documents/test/bower_components/angular-material/angular-material.min.js"></script>
        <script src="/home/riddhi/Documents/test/bower_components/angular-route/angular-route.js"></script>

    
        <script src="blogjs.js" type="text/javascript"></script> 

</body>
</html>