.head {
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: darkblue !important;
    /*height: 50px;*/
    text-align: center;
    top: auto;
    width: 100%;
    height: 10%;
}

.left{  float: left;
	    height: 40px;
        width: 40px; 
}

.head-name{
    color: white;
    font-size: 32px;
    margin-top: 1px;
    /*margin-bottom:10px;*/
    font-weight: 400;
	font: 100px;
	text-align: center;
	font-family: sans-serif;
}

.right{
 height: 40px;
 width: 40px; 
 float: right;
}

.logo{
 height: 45px;
 width: 45px; 
}

.form-div
{
    background-color: rgb(255,255,255);
    height:500px;
    width:1175px;
    margin: 150px 50px 50px 50px;
    overflow-y:auto; 


}


.content-div-one
{
    margin-left: 200px;
    padding-top: 50px;
    padding-left: 10px;
    float:left;



}

.content-div-two
{
    padding-top: 50px;
    padding-left: 50px;
    margin-left: 200px;
    float:left;


}

.control-form
{
    border:0px !important;
     border-width:2px;  
    border-bottom-style:solid;
    border-bottom-color: grey;
    margin-bottom: 20px;
    background-color: white;
}

.fntxt
{
    border:none;
     border-width:2px;  
    border-bottom-style:solid;
    border-bottom-color: black;

}

.btn-div
{

    padding-top: 350px;
    margin-left: 400px;
    padding-left: 100px;


}


#btn-save
{

    background-color: rgb(157,157,157);
    color: white;
    border-color: rgb(157,157,157);
    border-style: solid;
    margin-left: 50px;

}

#btn-reset
{
    background-color: rgb(157,157,157);
    color: white;
    border-color: rgb(157,157,157);
    border-style: solid;
    margin-left: 50px;


    
}

#btn-reset:hover
{

    background-color: white;
    color: purple;
    border-color: purple;
    border-style: solid;


}

.control-form-tarea
{
    background-color: rgb(235,238,242);
    

}


 .mbody{
     position: fixed;
      width: 100%;
      height: 100%;
        background-color: rgb(238,237,238);
    color: grey;

 }
 ul{

    visibility:hidden;
 }
 a:hover ul
 {
    visibility:visible;
 }